<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="com.sabre.tripcase.localAuth"
        version="0.0.1">

  <name>Local Auth</name>
  <description>A Cordova plugin for accessing biometric scanners</description>

  <engines>
    <engine name="cordova" version=">=3.5.0" />
  </engines>

  <js-module src="www/localAuth.js" name="LocalAuth">
    <clobbers target="localAuth" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="LocalAuth">
        <param name="android-package" value="com.sabre.tripcase.localAuth.LocalAuth" />
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    </config-file>
    <source-file src="src/android/LocalAuth.java" target-dir="src/com/sabre/tripcase/localAuth" />
    <source-file src="src/android/FingerprintUiHelper.java" target-dir="src/com/sabre/tripcase/localAuth" />
    <source-file src="src/android/FingerprintAuthenticationDialogFragment.java" target-dir="src/com/sabre/tripcase/localAuth" />
  </platform>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="localAuth">
        <param name="ios-package" value="LocalAuth" />
      </feature>
    </config-file>
    <source-file src="src/ios/localAuth.swift" />
  </platform>

</plugin>
